/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500&display=swap');

/* common style or utilities */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
a{
    text-decoration: none;
    transition: .5s;
}
img{
    width: 100%;
}
.container {
    background-color: #fff;
    padding: 33px 28px 42px;
    margin: 21px auto 0 auto;
    border-radius: 5px;
    max-width: 870px;
    width: 100%;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-color: #562EFF;
    margin-bottom: 15px;
}
header .container{
    background-color: #562EFF;
    padding: 0;
    margin-top: 0;
}
.hdr-cntlr{
    display: flex;
    justify-content: space-between;
    padding: 26px 0 17px;
    align-items: center;
}
nav.main-menu ul {
    display: flex;
    margin: 0 -18px 0;
    list-style: none;
}
nav.main-menu ul li{
    padding: 0 18px;
}
nav.main-menu ul li a:hover,
nav.main-menu ul li.active a{
    color: #000;
}
nav.main-menu ul li a{
    display: inline-block;
    font-size: 16px;
    padding-bottom: 7px;
    color: #fff;
    position: relative;
    text-decoration: none;
}
nav.main-menu ul li a:hover:after, nav.main-menu ul li.active a:after {
    width: 100%;
}
nav.main-menu ul li a:after {
    background: #000;
    content: '';
    position: absolute;
    left: 0;
    height: 3px;
    bottom: 0;
    width: 0;
    margin-top: 5px;
    border-radius: 5px;
    transition: ease-out .5s;
}
.hdr-menu{
    display: flex;
    align-items: center;
}
.profile a{
    display: inline-block;
}
.profile img{
    max-width: 51px;
    border-radius: 100%;
    margin-left: 36px;
}
.hdr-lgo a{
    display: inline-block;
}


.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 29px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
    border-radius: 100%;
}
.top-players{
    margin-bottom: 30px;
}
.sec-title{
    color: #562EFF;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}



.top-blg-title{
    margin-bottom: 30px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
    grid-column-gap: 45px;
}
.blog{
    display: flex;
    align-items: center;
}
.blog-info{
    margin-left: 16px;
    width: 54%;
}
.thumbnail{
    width: 46%;
}
.blg-title{
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}
.blg-title a{
    color: #000;
    transition: .5s;
}
.blg-title a:hover{
    color: #562EFF;
}
.blg-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blg-author a{
    text-decoration: none;
    color: #562EFF;
}

.lates-course .sec-title{
    margin-bottom: 12px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}
.course{
    padding: 15px 12px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
.course-bannr{
    padding-bottom: 12px;
}
.course .course-bannr img{
    height: 105.5px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-title{
    font-size: 18px;
    font-weight: 500;
    color: #1E1E1E;
    margin-bottom: 3px;
}
.course-title a{
    text-decoration: none;
    transition: .5s;
    color: #1E1E1E;
}
.course-title a:hover{
    color: #ED6B4F;
}
.course-author{
    color: #ED6B4F;
    display: inline-block;
    margin-bottom: 14px;
    font-size: 15px;
}
.course-info .filled{
    color: #FFC014;
    font-size: 12px;
}
.course-info .empty{
    color: #AEAEAE;
    font-size: 12px;
}
.course-info span{
    color: #A2A2A2;
    display: inline-block;
    margin-left: 5px;
}
.course-duration{
    background-color: #FFE4E8;
    border-radius: 14.6913px;
    color:  #FF4A60;
    padding: 2px 7px;
}




/* media quaries */

/* mobile-device */
@media screen and (max-width: 668px) {
    .players{
        grid-template-columns: repeat(1,1fr);
    }
    .player{
        flex-direction: column;
        padding-bottom: 15px;
    }
    .player-name{
        margin-top: 10px;
    }
    .blogs{
        grid-template-columns: repeat(1,1fr);
        max-width: 420px;
        width: 100%;
        margin: 0 auto;
        grid-row-gap: 50px;
    }
    .blog{
        flex-direction: column;
    }
    .thumbnail,
    .blog-info{
        width: 100%;
    }
    .blog-info{
        margin-left: 0;
        text-align: center;
        margin-top: 15px;
    }
    .courses{
        grid-template-columns: repeat(2,275px);
        justify-content: center;
        grid-row-gap: 30px;
    }
}
@media screen and (max-width: 1200px) {
    header .container{
        padding: 0 12px;
    }
}
@media screen and (max-width: 767px) {
    .courses {
        grid-template-columns: repeat(1,320px);
    }
    .course .course-bannr img {
        height: 140.5px;
    }
    .container{
        padding: 33px 20px 42px;
    }
    header .container{
        padding: 0 20px;
    }
    .course{
        padding: 15px 20px;
    }
}
@media screen and (min-width: 668px) and (max-width: 767px) {
    .blogs{
        grid-template-columns: repeat(1,1fr);
    }
    .blog{
        max-width: 550px;
        width: 100%;
        margin: 0 auto;
    }
    .thumbnail,.blog-info{
        width: 50%;
    }
    .blog-info{
        margin-left: 30px;
    }
}
@media screen and (min-width: 668px) and (max-width: 991px) {
    .players{
        grid-template-columns: repeat(2,1fr);
        
    }
    .player{
        justify-content: center;
    }
    .blogs{
        grid-column-gap: 30px;
    }
    .blg-title{
        font-size: 19px;
    }
    .courses{
        grid-template-columns: repeat(2,275px);
        justify-content: center;
        grid-row-gap: 30px;
    }
}
